.widget{
  position:absolute;
  overflow:hidden;
  cursor:auto;
}
.widget-header-title{
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.widget-header-option{
  vertical-align:top;
  width:43px;
  height:100%;
}
.widget-resize{
  position:absolute;
  cursor:nwse-resize;
  width:20px;
  height:20px;
  bottom:0px;
  right:0px;
}
.widget-header{
  width: 100%;
  position:relative;
  cursor:move;
  height:50px;
}
.widget-content{
  position:relative;
  overflow:auto;
  height:calc(100% - 70px);
  margin:10px 10px 10px 10px;
}
.widget-header-title{
  float:left;
  padding: 16px 10px 17px 10px;
  display:inline-block;
  width:calc(100% - 43px);
}
.widget-header-option{
  display:inline-block;
  button{
    border:none;
    height: 100%;
    width: 100%;
    padding:0;
    cursor:pointer;
    &:focus{
      outline:none;
    }

  }
}

:host-context(.dark){
  .widget{
    background-color:#121212;
    border:1px solid #ad2828;
    color:white;
  }
  .widget-resize{
    background:repeating-linear-gradient(45deg,#171717,#171717 5px,#ad2828 5px,#ad2828 6px);
  }
  .widget-header{
    border-bottom:1px solid #ad2828;
  }
  .widget-header-title{
    border-right:1px solid #ad2828;
  }
  .widget-header-option{
    button{
      background-color:#121212;
      color:white;
    }
  }
}

:host-context(.light){
  .widget{
    background-color:white;
    border:1px solid #a7a9ad;
    color:black;
  }
  .widget-resize{
    background:repeating-linear-gradient(45deg,#ffffff,#ffffff 5px,#a7a9ad 5px,#a7a9ad 6px);
  }
  .widget-header{
    border-bottom:1px solid #a7a9ad;
  }
  .widget-header-title{
    border-right:1px solid #a7a9ad;
  }
  .widget-header-option{
    button{
      background-color:white;
    }
  }
}

:host-context(.sky){
  .widget{
    background-color:#5c94bf;
    border:1px solid white;
    color:white;
  }
  .widget-resize{
    background:repeating-linear-gradient(45deg,#5c94bf,#5c94bf 5px,#ffffff 5px,#ffffff 6px);
  }
  .widget-header{
    border-bottom:1px solid white;
  }
  .widget-header-title{
    border-right:1px solid white;
  }
  .widget-header-option{
    button{
      background-color:#5c94bf;
      color:white;
    }
  }
}
